body{font-family: Arial;}
table{width: 100%;
height: 760px;
text-align: center;}
td{width: 5.5%;
height: 3%;}
.atm { text-align: left;}
.Le { text-align: center;
font-size: large;
font-weight: bold;}
#Fml{font-weight: bold;}
#Paçol{font-weight: 3%;}

.A{margin: 0 10px 20px ;background-color: chocolate ;content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;}
.B{margin: 0 10px 20px ;background-color: gold ;content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;}
.C{margin: 0 10px 20px ;background-color: lightcoral;content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;} 
.D{margin: 0 10px 20px ;background-color: rgb(2, 138, 86);content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;} 
.E{margin: 0 10px 20px ;background-color: lightskyblue;content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;} 
.F{margin: 0 10px 20px ;background-color: lightgreen;content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;} 
.G{margin: 0 10px 20px ;background-color: rgb(2, 138, 86);content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;} 
.L{margin: 0 10px 20px ;background-color: rgb(2, 138, 86);content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;} 
.K{margin: 0 10px 20px ;background-color: rgb(2, 138, 86);content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;} 
.J{margin: 0 10px 20px ;background-color: rgb(2, 138, 86);content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;} 
.Z{margin: 0 10px 20px ;background-color: rgb(2, 138, 86);content: "";display: inline-block;vertical-align: middle;width: 25px;height: 25px; 
    margin-right: 6px;}                         
#H{background-color: darkkhaki;border-radius: 10px;}
#A{background-color: chocolate;border-radius: 10px;}
#B{background-color: gold;border-radius: 10px;}
#C{background-color: lightcoral;border-radius: 10px;}
#D{background-color: rgb(2, 138, 86);border-radius: 10px;}
#E{background-color: lightskyblue;border-radius: 10px;}
#F{background-color: lightgreen;border-radius: 10px;}
#G{background-color: aqua;border-radius: 10px;}
#L{background-color: rgb(195, 151, 245);border-radius: 10px;}
#K{background-color: rgb(95, 126, 194);border-radius: 10px;}
#J{background-color: rgb(82, 228, 228);border-radius: 10px;}
#Z{background-color: lightpink;border-radius: 10px;}
#Paço{height: 1%;}